body{
    background-color: antiquewhite;
}




.mainmenubtn {
    background-color: salmon;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: rgb(235, 55, 11);
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: rgb(218, 87, 87);
    min-width: 200px;
    float: left;
}
.dropdown-child a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.dropdown {
    float: right
}
.image-fondo {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/18/4a/0d/4e/pizza-vegetariana.jpg");
}

.cabecera{
  color: rgb(70, 12, 12);
  font-size: 20px;
  height: 350px;
  line-height: 350px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 0px 0px 10px;
}
.parrafos{
    background-color: rgb(207, 174, 164);
}

.nav-bg{
    text-align: center;
    font-size: 20px;
}