.mainmenubtn {
    background-color: salmon;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: rgb(235, 55, 11);
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: rgb(218, 87, 87);
    min-width: 200px;
    float: left;
}
.dropdown-child a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.dropdown {
    float: right
}
.image-fondo {
    background-image: url("https://www.lavanguardia.com/files/image_344_168/uploads/2020/12/24/5fe460e997ce0.jpeg");
}

.cabecera{
  color: rgb(19, 17, 17);
  font-size: 20px;
  height: 168px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 0px 0px 10px;
}
.ing{
    text-align: center;
}
.prim {
    list-style-type: none;
  }
  
  li {
    background-color: #ddd7cf;
    float: left;
    text-align: center;
    width: 13em;
  }

  .seg0 {
    list-style-type: none;
  }
  
  li {
    background-color: #ddd7cf;
    float: left;
    text-align: center;
    width: 13em;
  }